<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">À propos de nous</h3>
                        <p style="padding-right: 100px">Nous sommes un magasin spécialisé en vente de jouets de toutes sortes pour les enfants de tout âge. Avec nous vous aurez la possibilité d'acheter, de précommander et de recevoir par la poste vos jouets favoris, de Lego à Barbie
                            en n'ayant en main que votre carte de crédit ou votre compte PayPal.</p>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Catégories d'âges</h3>
                        <ul class="footer-links">
                            <li><a href="#">0 à 4 ans</a></li>
                            <li><a href="#">5 à 6 ans</a></li>
                            <li><a href="#">7 à 9 ans</a></li>
                            <li><a href="#">10 à 99 ans</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Nos marques</h3>
                        <ul class="footer-links">
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Fisher-Price</a></li>
                            <li><a href="#">Hot Wheels</a></li>
                            <li><a href="#">Lego</a></li>
                            <li><a href="#">Vtech</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Informations</h3>
                        <ul class="footer-links">
                            <li><a href="/propos"><i class="fa fa-map-marker"></i>Centropolis</a></li>
                            <li><a href="/propos"><i class="fa fa-phone"></i>123-456-7890</a></li>
                            <li><a href="/propos"><i class="fa fa-envelope-o"></i>jaimejouets-contact@outlook.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="newsletter">

                        <ul class="newsletter-follow">
                            <li>
                                <a style="width:50px;height: 50px;border: none; color: white; background-color: transparent;" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a style="width: 50px;height: 50px;border: none; color: white; background-color: transparent;" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a style="width: 50px;height: 50px;border: none; color: white; background-color: transparent;" href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a style="width: 50px;height: 50px;border: none; color: white; background-color: transparent;" href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>

                    <span class="copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script>.<a href="#" target="_blank"
							style="color:red"> J'aime Jouet </a>. Tous droits réservés.
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
<!-- jQuery Plugins -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/slick.min.js"></script>
<script src="../js/nouislider.min.js"></script>
<script src="../js/jquery.zoom.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/index.js"></script>

</body>

</html>