<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <!--si la class="active" cela veut dire que le lien qu il contient vers un certain page est activee dans ce cas une fois que 
                le liens vers la page d accueil est active ceci devient activee-->
                <li class="<%=accueil%>"><a href="/">Accueil</a></li>
                <li class="<%=login%>"><a href="login">Connexion</a></li>
                <li class="<%=creationCompte%>"><a href="creerUnCompte">Création du compte</a></li>
                <li class="<%=produit%>"><a href="produits">Tous nos produits</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->