<%- include ('../partials/header') %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<body>
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Admin - items</h3>
                </div>
            </div>    

            <form action="/admin/items" method="post">
                <input class="input" name="itemID" placeholder="Id de l'item Exemple: 701 ">
                <br>
                <br>
                <input class="input" type="number" name="amountChange" placeholder="Nombre d'item(s) Exemple: -3">
                <br>
                <br>
                <input type="radio" name="incSetAmount" value="incChange"checked="checked">
                <label for="incChange">incrémenter le stock</label>
                <input type="radio" name="incSetAmount" value="setChange" > 
                <label for="setChange">fixé le stock</label>
                

                <br>
                <br>
                <input class="input" type="number" name="priceChange" placeholder="Prix Exemple: 25">
                <br>
                <br>
                <input type="radio" name="incSetPrice" value="incChange"checked="checked">
                <label for="incPrice">incrémenter le prix</label>
                <input type="radio" name="incSetPrice" value="setChange" > 
                <label for="setPrice">fixé le prix</label>
                
                <br>
                <br>
                <button class="primary-btn cta-btn">Mettre à jour!</button>
            </form>

            <br>

            <%if (typeof items != 'undefined' && items.length>0) {%>
                <p class="<%= items[1]%>" id="messageCreation"><strong><%= items[0]%></strong></p> 
            <% }else {%>
                <p class="createAlert" id="messageConnexion" ></p>
            <% } %>

            <h3 class="title">liste des produits</h3>

            <div id="itemList">
            <table>
                <thead>
                <th>Id du produit</th>
                <th>Nom</th>
                <th>Stock</th>
                <th>Prix</th>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>

            <br>
            <br>

            <form action="/admin" method="get">
                <button class="primary-btn cta-btn">Panneau de configuration!</button>
            </form>

            <br>
            <br>
            
        </div>
    </div>
    </body>
    <script type="text/javascript" src="/js/itemlist.js"> </script>
    <%- include ('../partials/footer') %>