<%- include ('../partials/header') %>
<body>
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Modifier mot de passe</h3>
                </div>
            </div>
            <form action="/modifierMotDePasse" method="post">
                <input class="input" type="password" placeholder="Nouveau mot de passe">
                <br>
                <br>
                <button class="primary-btn cta-btn">Confirmation</button>
            </form>

            <br>

        </div>
    </div>
</body>
<%- include ('../partials/footer') %>